@page { size: landscape; }
.monthlyReport_content{
	padding: 6px;
}
#monthlyReport_table{
	width: 100%;
	cellspacing:0;
    cellpadding:0;
	
}
#monthlyReport_table caption{
	font-size: 26px;
	height: 45px;
	font-weight: 700;
	color: black;
	text-align: center;
	padding: 6px;
	
}
#monthlyReport_table thead tr th{
		height: 32px;
	 	font-size: 16px;
	 	vertical-align: middle;
	 	text-align: center;
		border: 1px solid #000 !important;
		background-color: #eaeaea;
}
#monthlyReport_table  tbody  tr td{
	 height: 32px;
	 font-size: 16px;
	 vertical-align: middle;
	 text-align: center;
	 border: 1px solid #000 !important;
}